.newleads{
    background-color: yellowgreen;
}

.tableHeader{
    margin-top: 30px;
}

.tableHeader span h4{
    padding: 8px;
    font-size: 20px;
    padding-left: 20px;
}

.tableHeader span i{
    padding-top: 10px;
    width: 20px;
    font-size: 20px;
}