html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px; 
    }
    
::-webkit-scrollbar-thumb {
background: #FF0000;
}

.scrollbar-hidden::-webkit-scrollbar {
display: none;
}