.dashContent{
    background-color: whitesmoke;
    padding: 10px 20px 10px 10px ;
}

.pageHeader{
    margin: 10px 0px 0px 20px ;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sizing{
    margin: 20px 30px 0px 20px;
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
}

#count1{
    font-weight: bold;
    font-size: 45px;
    color: #17a2cd;
}

#count2{
    font-weight: bold;
    font-size: 45px;
    color: #4B61D1;
}

#count3{
    font-weight: bold;
    font-size: 45px;
    color: rgb(20, 180, 180);
}

#count4{
    font-weight: bold;
    font-size: 45px;
    color: rgba(255, 166, 0, 0.89);
}

#countName{
    font-weight: bold;
    color: darkblue;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rotate180{
    transform: rotate(180deg);
    padding: 50px 0px 50px 0px;
    width: 30px;
}

#arrowTwo{
    top: 25px;
}


.arrowtwo{
    background-color: white;
    border: 1px solid white;
    width: 40px;
    height: 40px;
}

.sellHeader{
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}

.sellPrd{
    margin: 7px 0px;
    font-size: 13px;
}

.sellBottom{
    padding-bottom: 20px;
}

.sizing2{
    margin: 20px 20px 0px 0px;
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
}

/* ------------------Applicant table section ---------------------- */

.sizing3{
    margin: 20px 30px 0px 20px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}


.applicantHeader{
    font-size: 18px;
    font-weight: 600;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(5, 5, 85);
}

.applicantHeader2{
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(5, 5, 85);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.dropdown-container {
   position: relative;
   border-radius: 5px;
}
.dropdown-container .fa {
  position: absolute;
  right:0px;
  top: 12px;
  font-size: 16px;
}



select option{
    padding: 10px 10px;
}

.dropdownItem{
    padding: 10px;
    margin: 10px 10px;
}

.form-group select{
    width: 130px;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    margin-left: 1px;
    box-shadow: none !important;
    background-color: rgba(188, 188, 188, 0.659);
    font-size: 16px;
    font-weight: bold;
    color: rgb(5, 5, 85);
}

.form-group select::selection{
    background-color: rgb(145, 141, 141);
}