.dashContent{
    background-color: whitesmoke;
    padding: 10px 20px 10px 10px ;
}

.pageHeader{
    margin: 10px 0px 0px 20px ;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sizing{
    margin: 20px 30px 0px 20px;
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
}

#count1{
    font-weight: bold;
    font-size: 45px;
    color: #17a2cd;
}

#count1 svg{
    margin: 0px 0px 5px 20px;
    width: 35px;
    height: 35px;
}

#count2{
    font-weight: bold;
    font-size: 45px;
    color: #4B61D1;
}

#count2 svg{
    margin: 0px 0px 5px 20px;
    width: 35px;
    height: 35px;
}

#count3{
    font-weight: bold;
    font-size: 45px;
    color: rgb(20, 180, 180);
}

#count3 svg{
    margin: 0px 0px 5px 20px;
    width: 35px;
    height: 35px;
}

#count4{
    font-weight: bold;
    font-size: 45px;
    color: rgba(255, 166, 0, 0.89);
}

#count4 svg{
    margin: 0px 0px 5px 20px;
    width: 35px;
    height: 35px;
}

#countName{
    font-weight: bold;
    color: darkblue;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rotate180{
    transform: rotate(180deg);
    padding: 50px 0px 50px 0px;
    width: 30px;
}

#arrowTwo{
    top: 25px;
}

.arrowtwo{
    background-color: white;
    border: 1px solid white;
    width: 40px;
    height: 40px;
}

.headertwo{
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}

.sellPrd{
    margin: 7px 0px;
    font-size: 13px;
}

.sellBottom{
    padding-bottom: 20px;
}

.sizing2{
    margin: 20px 20px 0px 0px;
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
}

/* ------------------Applicant table section ---------------------- */

.sizing3{
    margin: 20px 30px 0px 20px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}


.applicantHeader{
    font-size: 18px;
    font-weight: 600;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(5, 5, 85);
}

.applicantHeader2{
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(5, 5, 85);
}

/* -----------------dropdown----------------- */

.dropdown{
    padding: 0px 0px;
    margin: 0px 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: none !important;
}


.dropdown select{
    padding: 5px 10px;
    background-color: whitesmoke;
    border-radius: 15px;
    /* box-shadow: none !important; */
    font-weight: bold;
    color: rgb(80, 80, 93);
}

.dropdown select option{
    font-weight: 600;
}

.no-outline:focus {
    outline: none;
}

/* -------------Progress bars-------------- */
.progress{
    width: 120px;
    height: 5px;
    margin: 7px 0px 0px 15px;
}

.floatR{
    margin: 4px 0px ;
    display: flex;
}

.floatR h6{
    font-size: 14px;
}

/* -------------------meeting scheduler-------------------- */
.date{
    padding-right: 30px;
}

.input-field{
    padding: 5px 10px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 0.7rem;
    display: block;
    font-weight: 600;
    color: #495057;
    background-color: rgb(241, 236, 236);
    border: none;
    background-clip: padding-box;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background-repeat:  no-repeat;
    width: 15px;
    height: 15px;
    /* border-width: thin */
}
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 66%;
}
input::-webkit-datetime-edit-fields-wrapper {
    position: relative;
    left: 10%;
}
input::-webkit-datetime-edit {
    position: relative;
    left: 10%;
}

.dateCard{
    margin: 10px 0px;
}

.dateCard .card{
    width: 14%;
    margin: 0px 6px 0px 0px;
    display: inline-block;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
}