.product{
    width: 100%;
    height: 100%;
    min-height: 70vh;
}

.bottom{
    margin-top: 200px;
}

.modalTwoBg{
    background-color: whitesmoke;
    border-radius: 15px;
}

.Logo{
    background: transparent;
    position: absolute;
    width: 400px;
    height: auto;
    margin-top: -220px;
}

.modalButton{
    background-color: whitesmoke;
    border: 1px solid grey;
    border-radius: 30px;
    margin: 15px 15px 0px 10px;
    padding: 7px 20px;
    font-weight: 500;
}

.modalOneBtn{
    border-radius: 20px;
    width: 100px;
    margin-right: 20px;
}

.birthdayMessage{
    font-size: 15px;
    font-weight: 600;
}
.emails{
    border: 1px solid red;
}

.modalTwoText{
    font-size: 20px;
}

.modalOneTwo{
    border-radius: 30px;
    color: whitesmoke;
    padding: 9px 20px;
    font-size: 16px;
}