.App {
  text-align: center;
}

body {
  margin:0;
  background-color: whitesmoke;
}

.navbarh {
  overflow: hidden;
  background-color: white;
  /* position: fixed; */
  top: 0;
  width: 100%;
  box-shadow: 5px 0px 5px 3px gray;
  border-bottom: 2px solid grey;
  padding: 0px 0px 0px 30px;
  height: 75px;
}

.left{
  text-align: left;
  float: left;
}

.right{
  text-align: right;
  float: right;
}

#brand{
  font-weight: bold;
  padding-left: 20px;
  font-size: 40px;
}

#brand span{
  font-weight: bolder;
  color: rgb(15, 113, 233);
} 

#brandName{
  padding: 10px 10px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(6, 6, 103);
  
}

.center{
  text-align: left;
  align-items: center;
}

.search{
  border: none;
  background-color: whitesmoke ;
}

.form-input{
  border: 1px rgb(222, 217, 217) solid;
  box-shadow: 0px 0px 1px 1px rgb(241, 246, 241);
  padding: 10px 10px;
  background-color: whitesmoke;
  border-radius: 30px;
 
}

.searchSpace{
  margin-top: 30px;
}

.searchSpace span{
  padding: 10px 30px 10px 40px;
}

.searchSpace i{
  font-size: larger;
}

.rightN{
  margin: 25px 20px;
}

.rightN svg{
  margin-right: 20px;
}
.rightN .svg1{
  margin-right: 0px;
}

.noBorder{
  border: none;
  background-color: white;
}

.main{
  width: 100%;
  min-height: 85vh;
}

.sideDash{
  position: relative; 
  
}

.sideDash item{
  padding: 10px 0px;
}

.mainData{
  position: relative    ;
}